<h4>
    <a class=brand href="{{ site.baseurl }}/">{{ site.title }}</a>
    {% if site.subtitle %}<small>{{ site.subtitle }}</small>{% endif %}
    
    <div class="pull-right">
        <a class="github-button" href="https://github.com/perminder-klair/angular-soundmanager2" data-icon="octicon-star" data-count-href="/perminder-klair/angular-soundmanager2/stargazers" data-count-api="/repos/perminder-klair/angular-soundmanager2#stargazers_count">Star</a>
        <a class="github-button" href="https://github.com/perminder-klair/angular-soundmanager2" data-icon="octicon-git-branch" data-count-href="/perminder-klair/angular-soundmanager2/network" data-count-api="/repos/perminder-klair/angular-soundmanager2#forks_count">Fork</a>
    </div>
</h4>


