<!DOCTYPE html>
<html>

<head>
    <title>AnguarJs SoundManager2</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="style.css"/>
    <script src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
    <script src="http://cdn.jsdelivr.net/soundmanager2/2.97a.20131201/soundmanager2.js"></script>
    <script src="app.js"></script>
    <script src="player.factory.js"></script>
    <script src="player.directive.js"></script>
    <script src="main.controller.js"></script>
</head>

<body ng-app="angularSoundManager">
<div class="container" ng-controller="MainCtrl">
    <div class="row">
        <div class="col-md-12">

            <h5>Songs</h5>
            <ul>
                <li ng-repeat="song in songs">
                    <button music-player data-type="playTrack" data-song="{{ $index }}" all-songs="songs"
                            my-playlist="playlist">{{ song.title }}
                    </button>
                    <button music-player data-type="addToPlaylist" data-song="{{ $index }}" all-songs="songs"
                            my-playlist="playlist">+
                    </button>
                </li>
            </ul>

            <button play-all="songs" my-playlist="playlist">Play all</button>

        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <!-- init soundManager2 player -->
            <sound-manager></sound-manager>

            <p>
                Currently Playing: {{ currentPlaying.title }} ({{ currentPostion }} / {{ currentDuration }})
            </p>

            <div class="seekBase" seek-track>
                <div class="seekLoad" ng-style="{width : ( progress + '%' ) }"></div>
            </div>
            <br />
            <button play-music>Play</button>
            -
            <button pause-music>Pause</button>
            -
            <button stop-music>Stop</button>
            -
            <button repeat-music>Repeat ({{ repeat }})</button>
            <br/>
            <br/>
            Volume: {{ volume }}
            -
            <button music-volume data-type="increase">+</button>
            -
            <button music-volume data-type="decrease">-</button>
            -
            <button mute-music>Mute ({{ mute }})</button>
            <br/>
            <br/>
            <button prev-track>Prev Track</button>
            -
            <button next-track>Next Track</button>
            -
            <button clear-playlist>Clear Playlist</button>
            <br/>
            <br/>
            <h5>Playlist</h5>
            <ul set-playlist>
                <li ng-repeat="song in playlist">
                    <a play-from-playlist data-song="{{song.id}}">{{ song.title }}</a>
                    -
                    <a remove-from-playlist data-song="{{song.id}}" data-index="{{$index}}" my-playlist="playlist">
                        <small>(remove)</small>
                    </a>
                    -
                    <span ng-if="currentPlaying.id == song.id">(current)</span>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>

</html>
